


<div class="collection-view-container">
  {{!-- {{collection-card-reading-item}}
  {{collection-card-reading-item}}
  {{collection-card-reading-item}}
  {{collection-card-reading-item}}
  {{collection-card-reading-item}}
  {{collection-card-reading-item}} --}}
  {{#each readings as |reading|}}

    {{collection-card-reading-item}}
   {{!-- <li>Hello, {{person.name}}! You're number {{index}} in line</li> --}}
  {{/each}}

</div>
