
<div class="dashboard-container">

  {{md-btn text='Cadastrar nova leitura'
  action='registerNewReading'
  class="register-button"}}

{{searchbar-container}}

{{collection-view-container model=model editReadingAction=(action "editAReading")}}


{{!-- Modals --}}
    {{register-reading-modal
      closeModalAction=(action closeModal)
      class="register-reading-modal"
  }}

  {{reading-detail
    id='reading-detail'
    closeModalAction=(action closeModal)
    class="reading-detail"
    reading=readingInFocus
}}

</div>
