<div class="teal">

<div class="container">

{{#if authManager.currentUser}}
  Logged in as {{authManager.currentUser.email}}
{{ else }}


        <!-- Page Content goes here -->

<h2> Login page </h2>
<p> User login / ok </p>

<form {{action 'authenticate' on='submit'}}>

  {{input value=email placeholder='Email'}} <br>
  {{input value=password placeholder='Password' type='password'}} <br>
  <button type="submit"> Login </button>

</form>


{{/if}}

{{#link-to 'secret'}}<strong>Secret codez here</strong>{{/link-to}}

</div>
</div>
