<div id="reading-detail-modal" class="modal modal-fixed-footer" >
  <div class="modal-content" id="modal-content">

    <div class="reading-detail-item-title"> {{reading.title}}</div>
    <div class="reading-detail-item-time">
      Tempo de leitura:  {{reading.timeToReadInMinutes}} min
    </div>

    <div class="reading-detail-item-author"> {{reading.authorName}} </div>
    <div class="reading-detail-item-content"> <span> {{reading.content}} </span></div>

    {{md-check
      name="Leitura do dia"
      checked=reading.readOfTheDay
      value=reading.readOfTheDay
      disabled=true
      class="reading-detail-checkbox"
    }}

  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action close-modal waves-effect waves-green btn-flat" {{action "closeModal"}}>Fechar</a>
  </div>
</div>
