<div id="reading-form-modal" class="modal modal-fixed-footer">
  <div class="modal-content">

    {{md-input
      value=title
      label='Título'
      class="field"
      validate=false
      errors=errors.title}}

      {{md-input
        value=authorName
        label='Autor'
        class="field"
        validate=false
        errors=errors.authorName}}

        {{md-textarea
          label='Conteúdo'
          value=content
          class="text-area"
          validate=false
          errors=errors.content
          length="10000"}}

          {{md-select
            content=readingTypes
            value=readingSelectedType
            label="Tipo de Leitura"
            optionValuePath="content"
            class="select-field"
            selection="changeReadingType"}}

            <div class="reading-time">
              Tempo de leitura:
              <div class="reading-time-value"> {{readingTimeInMinutes}} min</div>
            </div>


            {{md-check name="Leitura do dia" checked=readOfTheDay class="checkbox"}}


          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action submit-form waves-effect waves-green btn-flat" {{action "submitForm"}}>Cadastrar</a>
            <a href="#!" class="modal-action close-modal waves-effect waves-green btn-flat" {{action "closeModal"}}>Cancelar</a>
          </div>
        </div>
