

<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
        <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
        <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </nav>


{{#if authManager.currentUser}}
  Logged in as {{authManager.currentUser.email}}
{{/if}}


<h1>Cadastrar nova leitura</h1>

<form>
    <div class ="form-group">
              <p><label>Autor</label></p>
            {{input type="text"  value=author placeholder="nome autor"}}
    </div>
    <div class ="form-group">
            <p><label>Titulo da leitura </label></p>
            {{input type="text"  value=title placeholder="Titulo"}}
    </div>
    <div class ="form-group">
            <p><label>Duração da leitura </label></p>
            {{input type="default"  value=timeReading placeholder="tempo leitura"}}
    </div>
    <div class ="form-group">
              <p><label>Leitura</label></p>
            {{textarea type="text" value=reading placeholder="leitura"}}
    </div>
    <button {{action 'addReading'}}>Cadastrar</button>

</form>


<h1>Todas Leituras </h1>
<p><button   class="waves-effect waves-light btn" type="button" {{action 'listReadingWeek'}} >Selecionar leituras da Semana</button></p>

<table class="striped ">
  <thead>
    <tr>
      <th>Leituras titulo</th>
      <th>Autor</th>

    </tr>
  </thead>
  <tbody>
    {{#each model as |reading| }}
      <tr>
         <!-- <td>{{reading.title}}</td> -->
         <td>{{reading.authorName}}</td>
         <td>   <ul class="collapsible" data-collapsible="accordion">  <li>
      <div class="collapsible-header"><i class="material-icons"></i>{{reading.title}}</div>
      <div class="collapsible-body"><p>{{reading.content}}</ul></p></div>
    </li></td>

         <p>
              <input type="checkbox" class="filled-in" id="filled-in-box"    />
              <label for="filled-in-box" >leitura da Semana</label>
        </p>
         <td><a class="btn-floating btn-large blue" {{action 'editReading' reading}} ><i class="large material-icons">mode_edit</i></a></td>

          <!-- <td><button   class="waves-effect waves-light btn" {{action 'deleteReading' reading}}>Delete</button> </td> -->
          <td><a class="btn-floating btn-large red" {{action 'deleteReading' reading}} ><i class="large material-icons">delete</i></a></td>

        </tr>
    {{/each}}
  </tbody>

  <ul class="pagination">
     <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
     <li class="active"><a href="#!">1</a></li>
     <li class="waves-effect"><a href="#!">2</a></li>
     <li class="waves-effect"><a href="#!">3</a></li>
     <li class="waves-effect"><a href="#!">4</a></li>
     <li class="waves-effect"><a href="#!">5</a></li>
     <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
   </ul>

  <footer class="footer">
         <div class="container">
           <div class="row">
             <div class="col l6 s12">
               <h5 class="white-text">Footer Content</h5>
               <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
             </div>
             <div class="col l4 offset-l2 s12">
               <h5 class="white-text">Links</h5>
               <ul>
                 <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                 <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
               </ul>
             </div>
           </div>
         </div>
         <div class="footer-copyright">
           <div class="container">
           © 2016 Leitura de bolso
           <a class="grey-text text-lighten-4 right" href="#!"></a>
           </div>
         </div>
       </footer>

</table>
