

{{#if authManager.currentUser}}
  Logged in as {{authManager.currentUser.email}}
{{/if}}


<h1>Cadastrar nova leitura</h1>

<form>
    <div class ="form-group">
              <p><label>Autor</label></p>
            {{input type="text"  value=autor placeholder="nome autor"}}
    </div>
    <div class ="form-group">
            <p><label>Duração da leitura </label></p>
            {{input type="default"  value=time placeholder="tempo leitura"}}
    </div>
    <div class ="form-group">
              <p><label>Leitura</label></p>
            {{textarea type="text" value=leitura placeholder="leitura"}}
    </div>
    <button {{action 'addReading'}} >Cadastrar</button>

</form>


<h1> AS LEITURA </h1>

<ul>
  {{#each model as |reading| }}
  <li><strong>{{reading.title}}</strong></li>
  {{/each}}
</ul>
