

{{#if authManager.currentUser}}
  Logged in as {{authManager.currentUser.email}}
{{/if}}


<h1>Cadastrar nova leitura</h1>

<form>
    <div class ="form-group">
              <p><label>Autor</label></p>
            {{input type="text"  value=author placeholder="nome autor"}}
    </div>
    <div class ="form-group">
            <p><label>Titulo da leitura </label></p>
            {{input type="text"  value=title placeholder="Titulo"}}
    </div>
    <div class ="form-group">
            <p><label>Duração da leitura </label></p>
            {{input type="default"  value=timeReading placeholder="tempo leitura"}}
    </div>
    <div class ="form-group">
              <p><label>Leitura</label></p>
            {{textarea type="text" value=reading placeholder="leitura"}}
    </div>
    <button {{action 'addReading'}}>Cadastrar</button>

</form>


<h1> AS LEITURA </h1>
<p><button  type="button" {{action 'listReadingWeek'}} >Selecionar leituras da Semana</button></p>
<table>
  <thead>
    <tr>
      <th>Leituras titulo</th>
      <th>Autor</th>
      <th>leitura da semana</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |reading| }}
        <tr>
         <td>{{reading.title}}</td>
         <td>{{reading.authorName}}</td>
            <td><form class="form-group">
  <input type="checkbox" name="leitura" value="readingWeek" rendered=""></form></td>
         <td><button  {{action 'editReading' reading}}>Edit</button> </td>
          <td><button  {{action 'deleteReading' reading}}>Delete</button> </td>
        </tr>
    {{/each}}
  </tbody>
</table>
