

{{#if authManager.currentUser}}
  Logged in as {{authManager.currentUser.email}}
{{/if}}


<h1>Cadastrar nova leitura</h1>

<form>
    <div class ="form-group">
              <p><label>Autor</label></p>
            {{input type="text"  value=author placeholder="nome autor"}}
    </div>
    <div class ="form-group">
            <p><label>Duração da leitura </label></p>
            {{input type="default"  value=timeReading placeholder="tempo leitura"}}
    </div>
    <div class ="form-group">
              <p><label>Leitura</label></p>
            {{textarea type="text" value=reading placeholder="leitura"}}
    </div>
    <button {{action 'addReading'}}>Cadastrar</button>

</form>


<h1> AS LEITURA </h1>

<table>
  <thead>
    <tr>
      <th>Leitura</th>
      <th>Autor</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |reading| }}
        <tr>
         <th>{{reading.title}}</th>
         <td>{{reading.nameAuthor}}</td>
         <button  {{action 'editReading' reading}}>Edit</button>
         <button  {{action 'deleteReading' reading}}>Delete</button>
        </tr>
    {{/each}}
  </tbody>
</table>
